<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Emploi du temps</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-3" v-for="i in 1..5">
          <div class="card" v-for="cour in cours">
            <div class="card-body">
              <h5 class="card-title">{{ cour.matiere.titre }}</h5>
              <p class="card-body">
                <i>
                  {{cour.type}} <br>
                  Salle : {{cour.salle.numero}} <br>
                  Professeur : {{cour.professeur.prenom + ' ' + cour.professeur.nom}}
                </i>

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: '#app',

        data: {
          apiBase: 'http://localhost:8080/api',
          cours: [],
        },

        methods: {
          getCours: function() {
            axios.get(this.apiBase + '/cours')
              .then(response => {
                this.cours = response.data
              })
              .catch(error => {
                console.log(error)
              })
          }
        },

        mounted() {
          this.getCours()
        }
      })
    </script>

  </body>
</html>
