<!DOCTYPE html>
<html>
<head>
    <title>Note ton prof !</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

    <div id="app">
          <div class="row">
            <div class="col-3">
              <h1>Emploi du temps</h1>

                <div>
                        <table>
                                <tr>
                                <td><button v-on:click="getCours(date,-1)" class="btn btn-primary mt-2"><<</button></td>
                                <td >
                                  <h3>{{date}}</h3>
                                  <h3 v-if="!cours[0]">Il n'y a pas de cours prévus aujourd'hui.</h3>
                                </td>
                                <td><button v-on:click="getCours(date,1)" class="btn btn-primary mt-2">>></button></td>
                                </tr>
                            </table>
                            <div v-if="cours[0]" class="card" v-for="cour in cours">
                                <div class="card-body">
                                <h5 class="card-title"><b>{{ cour.matiere.titre }}</b></h5>
                                <p class="card-body">
                                    <b>{{cour.heureDebut + ' - ' + cour.heureFin }}</b> <br>
                                    <i>
                                    Type : {{cour.type}} <br>
                                    Salle : {{cour.salle.numero}} <br>
                                    Professeur : {{cour.professeur.prenom + ' ' + cour.professeur.nom}}
                                    </i>
                                </p>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-6">
                <h1>Note ton prof !</h1>

                <div class="row">
                    <div class="col-6" v-for="professeur in professeurs">
                        <div class="card">
                            <div class="card-body" :class="{'bg-light': professeur.id === professeurCourant?.id}">
                                <h5 class="card-title">{{ professeur.prenom + ' ' + professeur.nom }}</h5>

                                <p class="card-text">
                                    {{ professeur.email }}<br/>

                                    <span v-for="matiere in professeur.matieres">
                                        {{ matiere.titre }} ({{ matiere.reference }}),
                                    </span>
                                    <br>

                                    <button v-on:click="getAvis(professeur)" :disabled="professeur.id === professeurCourant?.id" class="btn btn-primary mt-3">Afficher les avis</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="professeurCourant" class="col-3">
                <h2>Avis concernant {{ professeurCourant.prenom + ' ' + professeurCourant.nom }}</h2>

                <form v-on:submit.prevent="postAvis()" class="mb-5">
                    <div class="form-group">
                        <label>Note</label>
                        <select class="form-control" v-model="nouvelAvis.note">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Commentaire</label>
                        <textarea class="form-control" v-model="nouvelAvis.commentaire" required></textarea>
                    </div>

                    <div class="form-group">
                        <label>Adresse email</label>
                        <input type="email" class="form-control" v-model="nouvelAvis.emailEtudiant" required>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Ajouter un avis">
                    </div>
                </form>

                <ul class="text-danger">
                   <li v-for="error in errors">{{ error }}</li>
                </ul>

                <div class="card mt-1" v-for="unAvis in avis">
                    <div class="card-body">
                        <h5 class="card-title">Note: {{ unAvis.note }} / 5</h5>
                        <p class="card-text">
                            <i>Commentaire de {{ unAvis.emailEtudiant }}</i>
                            <br/>
                            {{ unAvis.commentaire }}
                            <br/>

                            <button v-if="mesAvis.includes(unAvis)" v-on:click="deleteAvis(unAvis)" class="btn btn-danger mt-5">Supprimer</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
    function getDayOfTheYear() {
      var now = new Date();
      var start = new Date(now.getFullYear(), 0, 0);
      var diff = (now - start) + ((start.getTimezoneOffset() - now.getTimezoneOffset()) * 60 * 1000);
      var oneDay = 1000 * 60 * 60 * 24;
      var day = Math.floor(diff / oneDay);
      return day;
    }

        var app = new Vue({
            el: '#app',

            data: {
                apiBase: 'http://localhost:8080/api',
                professeurs: [],
                professeurCourant: null,
                avis: [],
                nouvelAvis: {},
                errors: [],
                mesAvis: [],
                cours: [],
                date: null,
            },

            methods: {
                getProfesseurs: function () {
                    axios.get(this.apiBase + '/professeurs')
                        .then(response => {
                            this.professeurs = response.data
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                newAvis: function () {
                    return {
                        note: 0,
                        commentaire: '',
                        emailEtudiant: ''
                    }
                },

                getAvis: function (professeur) {
                    this.nouvelAvis = this.newAvis()
                    this.errors = []

                    axios.get(this.apiBase + '/professeurs/' + professeur.id + '/avis')
                        .then(response => {
                            this.avis = response.data
                            this.professeurCourant = professeur
                            // this.professeurCourant = this.professeurs.find(professeur => professeur.id === professeurId)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },

                postAvis: function () {
                    this.errors = []

                    axios.post(this.apiBase + '/professeurs/' + this.professeurCourant.id + '/avis', this.nouvelAvis)
                        .then(response => {
                            this.avis.push(response.data)
                            this.nouvelAvis = this.newAvis()
                            this.mesAvis.push(response.data)
                        })
                        .catch(error => {
                            this.errors = Object.values(error.response.data)
                        })
                },

                deleteAvis: function (avis) {
                    axios.delete(this.apiBase + '/professeurs/avis/' + avis.id)
                        .then(response => {
                            this.avis.splice(this.avis.indexOf(avis), 1)
                            this.mesAvis.splice(this.mesAvis.indexOf(avis), 1)
                        })
                        .catch(error => {
                            console.log(error)
                        })
                },
                getCours: function(date, add = 0) {

                  if (date) {
                    date = new Date(Date.parse(date))
                  }else {
                    date = new Date()
                  }
                  date.setDate(date.getDate()+add)
                  
                  axios.get(this.apiBase + '/cours/date/' + date.toISOString().slice(0, 10))
                    .then(response => {
                      this.cours = response.data.cours
                      this.date = response.data.date
                    })
                    .catch(error => {
                      console.log(error)
                    })
                }
            },

            mounted() {
                this.getProfesseurs()
                this.getCours()
            }
        })
    </script>
</body>
</html>
